{
  "AWSTemplateFormatVersion" : "2010-09-09",

  "Description" : "",

  "Parameters" : {

    "KeyName" : {
      "Description" : "Name of an existing EC2 KeyPair to enable SSH access to the instances",
      "Type" : "String"
    },

    "RegionName" : {
      "Description" : "Name of the region",
      "Type" : "String",
      "ConstraintDescription" : "must be a existing OpenStack region"
    },

    "InstanceType" : {
      "Description" : "EC2 instance type",
      "Type" : "String",
      "Default" : "m1.small",
      "AllowedValues" : [ "m1.tiny", "m1.small", "m1.medium", "m1.large", "m1.xlarge" ],
      "ConstraintDescription" : "must be a valid EC2 instance type"
    },

    "LinuxDistribution": {
      "Default": "U12",
      "Description" : "Distribution of choice",
      "Type": "String",
      "AllowedValues" : [ "F17", "U12" ]
    },

    "NetworkId" : {
      "Description" : "Network Id for the server",
      "Type" : "String",
      "ConstraintDescription" : "must be an id of existing network"
    },

    "SubnetId" : {
      "Description" : "Subnet Id for the server",
      "Type" : "String",
      "ConstraintDescription" : "must be an id of existing subnet"
    },

    "ServerIPAddress" : {
      "Description" : "Private IP address for the server",
      "Type" : "String",
      "ConstraintDescription" : "must be an IP address"
    }

  },

  "Mappings" : {
    "OpenstackRegion2Image" : {

      "RegionOne" : {
        "F17" : "F17-x86_64-cfntools",
        "U12" : "ubuntu-vm-heat-cfntools"
      },

      "RegionTwo" : {
        "F17" : "F17-x86_64-cfntools",
        "U12" : "ubuntu-vm-heat-cfntools"
      }

    }

  },

  "Resources" : {

    "Port" : {
      "Type" : "OS::Neutron::Port",
      "Properties" : {
        "network_id" : { "Ref" : "NetworkId" },
        "fixed_ips" : [ {
          "subnet_id" : { "Ref" : "SubnetId" },
          "ip_address" : { "Ref" : "ServerIPAddress" }
        } ]
      }
    },

    "Server" : {
      "Type": "OS::Nova::Server",
      "Properties": {
        "image"    : { "Fn::FindInMap" : [ "OpenstackRegion2Image",
                                               { "Ref" : "RegionName" },
                                               { "Ref" : "LinuxDistribution" } ] },
        "flavor"   : { "Ref" : "InstanceType" },
        "key_name" : { "Ref" : "KeyName" },
        "networks" : [ {
          "port": { "Ref" : "Port" }
        } ]
      }
    }

  }

}
